/*:root {...} es una pseudoclase que sirve para crear variables en css */
  /*colors*/
  :root {
    --encabezados-h1: hsl(0, 0%, 100%);
    --sub-titulos-h3: hsl(0, 0%, 0%)
    --titulos-h3,4,5,6: hsl(0, 0%, 50%)
    --background-color-grey: hsl(0, 0%, 50%)
    --background-color-white: hsl(0, 0%, 100%)
    --background-color-black: hsl(0, 0%, 0%)
    
    /*constants*/
    --bnt-principal: 6px;
    --dobble-unit: 12px; 
    /*implementations*/
  
  }