*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.container-guia-estilos {
        background-color: rgb(170, 170, 170);
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
.encabezados-h1 {
    color : var (encabezados-h1);
    font-size : 40px;
}
.sub-titulos-h3 {
    color : var (sub-titulos-h2);
font-size : 32px;

}